// _base.scss

@import './variables';

:root {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  background-color: $primary-bg;
  color: $text-color;
}

body {
  margin: 0px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
}
