@import "../scss/variables";

$max-width: 1300px;

.disable-hover {
  pointer-events: none;
}

.arrow-button {
  width: 40px;
  cursor: pointer;
  text-align: center;
  &:hover {
    background-color: #eee;
  }
}

.pagination-container {
  display: flex;
  justify-content: right;
  margin-top: 20px;

  span {
    width: 180px;
    justify-content: center;
    text-align: center;
  }
}

.message-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: $max-width;
  margin-top: 160px;
  margin-right: 10px;
  text-align: center;
  align-items: center;

  padding-block: 10px;

  @media (max-width: 1398px) {
    width: auto;
    margin-inline: 0px;
    min-width: 800px;
  }

  @media (max-width: 750px) {
    width: auto;
    min-width: min-content;
  }
}

.search-message {
  text-align: center;
  align-items: center;
  margin-right: 10px;
  max-width: 560px;
  border: 1px dotted #ccc;
  border-radius: 8px;
  padding: 4px;
}

.icons-container {
  display: flex;
  flex-direction: column;
}

p {
  margin-block-end: auto;
  margin-block-start: auto;
  padding-bottom: 0.0rem;
  padding-top: 0.4rem;
}

// Header styles
.header-container {
  position: fixed;
  background-color: #fff;
  z-index: 997;
  padding-top: 10px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  max-width: $max-width;
  padding-right: 10px;
  width: 100%;

  h2 {
    margin: 0;
  }
  
  h3 {
    margin: 0;
    font-weight: lighter;
  }

  @media (max-width: 1411px) {
    width: 1190px;
    margin-left: -10px;
  }

  @media (max-width: 1300px) {
    width: 92.5%;
  }

  @media (max-width: 936px) {
    width: 97%;
  }

  @media (max-width: 750px) {
    //width: 470px;
    width: 95%;
  }

  @media (max-width: 565px) {
    //width: auto;
    //left: 0px;
    //padding-inline: 10px;
    //margin-left: 0;
  }
}

.title-container {
  display: flex;
  width: auto;

  @media (max-width: 856px) {
    align-items: center; //vertically center
  }
}

.showing-text {
  flex: 1;
  //padding-top: 25px;
  //padding: 10px;
  //width: auto;
  font-size: 20px;
  text-align: left;
  padding-top: 10px;

  @media (max-width: 856px) {
    padding-top: 0px;
  }
}

.source-text {
  flex: 1;
  text-align: right;
  width: auto;
  margin-bottom: 10px;
  //padding: 10px;

  @media (max-width: 856px) {
    text-align: left;
  }
}

.dropdown-container {
  display: flex; /* Enables flexbox */
  justify-content: flex-end; /* Aligns all content to the right */
  align-items: top; /* Aligns items vertically */
  gap: 10px; /* Adds space between elements */
  width: auto;
  margin-bottom: 10px;

  .select {
    margin-bottom: 0px;
  }

  .button {
    color: white;
    padding: 0px !important;
  }

  @media (max-width: 856px) {
    flex-wrap: wrap; /* Wraps items to the next line on smaller screens */
    justify-content: flex-end; /* Keeps content right-aligned even on small screens */
    width: 100%;
  }
}

.expand-collapse-icon {
  color: white;
}

.expand-collapse-button {
  padding-inline: 4px;
  padding-block: 2px;
}

// Results styles
.card {
  width: auto;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0px;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  //max-width: auto;
  margin: 0 auto;

  &:nth-child(even) {
    background-color: #f9f9f9;
  }

  @media (max-width: 1150px) {
    width: 700px;
  }

  @media (max-width: 750px) {
    width: 450px;
  }

  @media (max-width: 565px) {
    max-width: 350px;
    width: auto;
  }
}

.results-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-inline: 0px;
}

.results-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-inline: 20px;
  background-color: $menu-bar-light;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.results-card[v-show] {
  opacity: 0;
  pointer-events: none; /* Optional: Disable interactions when hidden */
}

// Details styles

.details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  border-top: 0;
  border-radius: 0;
  //background-color: #f9f9f9; //grey
}

.search-tooltip {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 2px;
  padding-inline: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: normal; /* Allow multiline text */
  background-color: $menu-bar-light;
  transform: translateY(-50%);
}

.tooltip-expand {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 2px;
  padding-inline: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: normal; /* Allow multiline text */
  background-color: $menu-bar-light;
  transform: translateX(-35%);
}

.modal-transition {
  transition: opacity 0.3s ease; /* Adjust the transition properties as needed */
}