// _theme.scss

@import './variables';
/*

@media (prefers-color-scheme: dark) {
  :root {
    background-color: $primary-bg;
    color: $text-color;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}*/
